.todo {
    width: 100vw;
    height: 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.heading {
    font-size: 30px;
    font-weight: 900;
    font-weight: bold;
    line-height: 50px;
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    min-height: 300px;
    padding: 10px;
}

.todoitem {
    text-align: left;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}

.delete {
    background-color: red;
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
}

.btn {
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 17px;
    background-color: white;
    /* color: white; */
}

.task_container {
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
    color: white;
    text-align: left;
}

.task {
    flex-grow: 1;
    margin-left: 10px;
}

.line_through {
    text-decoration: line-through;
    color: red;
}